In [7]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [8]:
import os
os.chdir('D:\\Users\Dell\Desktop\Data Science\Datasets')

In [9]:
df = pd.read_csv('hiring.csv')
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [10]:
!pip install word2number

Collecting word2number
  Downloading word2number-1.1.zip (9.7 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: word2number
  Building wheel for word2number (setup.py): started
  Building wheel for word2number (setup.py): finished with status 'done'
  Created wheel for word2number: filename=word2number-1.1-py3-none-any.whl size=5586 sha256=e866e0828cbf281963ca79e6aad5f70ad23ecce2036611efaa746e65cddf23a4
  Stored in directory: c:\users\dell\appdata\local\pip\cache\wheels\a0\4a\5b\d2f2df5c344ddbecb8bea759872c207ea91d93f57fb54e816e
Successfully built word2number
Installing collected packages: word2number
Successfully installed word2number-1.1

In [11]:
df['experience']=df['experience'].fillna("zero")

In [12]:
from word2number import w2n

In [13]:
df.experience=df.experience.apply(w2n.word_to_num)
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    NaN                           7      72000
7          11                    7.0                           8      80000

In [14]:
df['test_score(out of 10)']=df['test_score(out of 10)'].fillna(df['test_score(out of 10)'].median())
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    8.0                           7      72000
7          11                    7.0                           8      80000

In [15]:
x=df[['experience','test_score(out of 10)','interview_score(out of 10)']]
y=df['salary($)']

In [16]:
model = LinearRegression()
model.fit(x,y)

LinearRegression()

In [17]:
model.intercept_

17737.26346433768

In [18]:
model.coef_

array([2812.95487627, 1845.70596798, 2205.24017467])

In [19]:
model.predict([[5,8,9]])

array([66414.84716157])

In [20]:
5*2812.95487627 + 8*1845.70596798 + 9*2205.24017467 + 17737.263464337702

66414.8471615577