In [34]:
import pandas as pd
df = pd.read_csv('/content/spam.csv')
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [35]:
df.groupby('Category').describe()

         Message
           count unique                                                top freq
Category
ham         4825   4516                             Sorry, I'll call later   30
spam         747    641  Please call our customer service representativ...    4

In [36]:
df['spam']=df['Category'].apply(lambda x : 1 if x == 'spam' else 0)
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [37]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df['Message'],df['spam'],test_size=0.25)

In [38]:
x_train.values

array(['Happy or sad , one thing about past is- "Its no more" GOOD MORNING :-):-).',
       'Ü no home work to do meh...',
       'Full heat pa:-) i have applyed oil pa.', ...,
       'Yeah, we can probably swing by once my roommate finishes up with his girl',
       'Mum not going robinson already.', 'Okie...'], dtype=object)

In [39]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
x_train_count = v.fit_transform(x_train.values)
x_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [40]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(x_train_count,y_train)

MultinomialNB()

In [41]:
emails = [
    'Hello Dhruv Limbani, Your Course completion certificate is here!',
    'Jackpot, Cashback Offers, Discounts & more 💁🏻‍♂️ All yours!'
]
emails_count = v.transform(emails)
model.predict(emails_count)

array([0, 1])

In [42]:
x_test_count = v.transform(x_test)
model.score(x_test_count,y_test)

0.9870782483847811

In [44]:
from sklearn.pipeline import Pipeline
clf = Pipeline([
                ('vectorizer',CountVectorizer()),
                ('nb',MultinomialNB())
])

In [45]:
clf.fit(x_train,y_train)      # here we are directly training with x_train whithout transforming it 
                              # transformation of text to the binary array is occuring internally

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [51]:
clf.score(x_test,y_test)

0.9870782483847811

In [52]:
clf.predict(emails)

array([0, 1])